[Unit]
Description=Temp-runner
[Service]
Type=simple
WorkingDirectory=/home/pi/temp_readout
TimeoutStartSec=0
ExecStart=/usr/bin/python3 /home/pi/temp_readout/main_app.py
[Install]
WantedBy=default.target